
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-white text-gray-900 dark:bg-[#0a1015] dark:text-white;
  }

  :root {
    --background: 255 255 255;
    --foreground: 15 23 42;
    --primary: 20 215 169;
  }

  .dark {
    --background: 20 20 20;
    --foreground: 255 255 255;
    --primary: 20 215 169;
  }
}
